<div class="container">
  <div class="row">
    <div class="col-12">
      <h1> Partie Administration</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 mt-5 mb-5" *ngFor="let stagiaire of stagiaires, let i = index">
        <div class="card mx-auto" style="width: 18rem;">

            <div class="card-body">
              <h5 class="card-title"><strong> {{stagiaire.nom}} </strong></h5>
              <p class="card-text">{{ stagiaire.prenom}}</p>
              <p class="card-text"> Age : {{ stagiaire.age}} ans</p>
              <p class="card-text"> votes : {{ stagiaire.vote}}</p>
              <p class="card-text"> indice : {{ i }}</p>
            </div>

            <button class="btn btn-info mb-3" (click)="votePour(i)"> Pour </button>
            <button class="btn btn-warning mb-3" (click)="voteContre(i)"> Contre </button>
            <button class="btn btn-danger mb-3" (click)="supp(i)"> X </button>
        </div>
    </div>
  </div>
</div>
